html, body {
  margin: 0;
  font-family: 'Segoe UI', 'Open Sans Regular', sans-serif;
  color: #666;
  background: #fafafa;
}

.header {
  text-align: center;
  padding: 10px 0 10px 0;
}

.header hr {
  height: 6px;
  border: none;
  margin-top: 20px;
  background: -webkit-linear-gradient(0deg,
    rgb(0,120,212) 0%,
    rgb(0,120,212) 100%
    );
 }

.header .links * {
  margin-left: 5px;
}

.header .links a {
  color: #666;
}

.header:hover .links a {
  color: #0078d4;
}

.flows h2 {
  margin-left: 5px;
  margin-bottom: 10px;
}

.flow {
  margin: 10px 20px 20px 20px;
  border: 1px solid #ddd;
  padding: 8px;
  background: white;
}

.flow button {
  cursor: pointer;
  background: -webkit-linear-gradient(top, #0078d4 0, #005a9e 100%);
  border: 1px solid #005a9e;
  text-shadow: 1px 1px 1px #005a9e;
  color: white;
  font-weight: 700;
  font-size: 13px;
  margin: .5em 0 1em;
  padding: 8px 17px 8px 17px;
  border-radius: 3px;
}

.flow button:disabled {
  background: -webkit-linear-gradient(top, #dcdcdc 0, #fafafa 100%);
  color: #999;
  text-shadow: 1px 1px 1px #fafafa;
  border: 1px solid #ddd;
  cursor: auto;
}

.log {
  margin: 10px 20px 20px 20px;
}

.log textarea {
  width: 100%;
  min-height: 200px;
  font-family: "Courier New", Courier, monospace;
  margin: 2px;
  background: #FFFFFF;
  color: #727272;
  border: 1px solid rgb(182, 182, 182);
}

#user_info {
  margin-top: 10px;
  padding: 10px;
  background: #f0f0f0;
  border-radius: 4px;
}

#user_info img {
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}
